.small-timebloque{
    border: 1px solid #000 !important;
    font-weight: bold;
}

[status="available"]{
    background-color: #fff;/* rgb(191 219 254) rgb(171, 208, 254) rgb(113, 177, 255)*/
    transition: all 0.15s ease-in-out;
}
[status="available"].massive:hover{
    background-color: rgb(152, 193, 250);
    transition: all 0.15s ease-in-out;
}

[status="pending"]{
    background-color: rgb(254 240 138); /*rgb(254 240 138) #fbbc04*/
    transition: all 0.15s ease-in-out;
}

[status="pending"].massive:hover{
    background-color: rgb(220, 202, 68);
    transition: all 0.15s ease-in-out;
}

[status="accepted"]{
    background-color: rgb(136, 224, 165);/*rgb(187 247 208) rgb(104 223 122) rgb(78, 250, 104) rgb(136, 224, 165)*/
    transition: all 0.15s ease-in-out;
}
[status="accepted"].massive:hover{
    background-color: rgb(114, 196, 143);
    transition: all 0.15s ease-in-out;
}

[status="rejected"],[status="full"]{
    background-color:  rgb(255, 111, 111); /* rgb(254 202 202) */
    color: black;
    transition: all 0.15s ease-in-out;
    opacity: 0.5;
}
[status="rejected"].massive:hover{
    background-color: rgb(233, 134, 134);
    transition: all 0.15s ease-in-out;
}
/* [partOfWeek="weekend"]{
    background-color: #e9ecef;
} */